*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;

	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a{
	color: inherit;
}
